:host {
  text-align: center;
}

uh-dash-characters {

  .char {
    @include button-look;
    @include button-size_2;
    @include flex-item;

    padding: 1px 2px;

    margin-right: 2px;
    margin-bottom: 2px;

  }

  .char.hdr {
    background-color: #ffffff !important;
    color: #000 !important;
    border: 1px solid #b6b6b6 !important;
    font-size: 2rem;
  }

  .characters-header {
    @include flex-list;

    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgba($color: #dcdcdc, $alpha: 0.5);
    margin: 0 auto;
    padding: 4px;
    text-align: center;
  }

  .characters-wrapper {
    @include flex-list;

    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgba($color: #ececec, $alpha: 0.3);
    margin: 0 auto;
    padding: 4px;

  }
}