:host {
  text-align: center;
}

uh-dash-radicals {
  .rad {
    @include button-look;
    @include button-size_3;
    @include button-content;

    padding: 1px 2px;

    margin-right: 2px;
    margin-bottom: 2px;
  }

  .rad.hdr {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #b6b6b6;
  }

  .radicals-header {
    @include button-list;
    
    text-align: center;
    border-radius: 10px;
    border: 1px solid #adadad;
    background-color: #d1cdcd;
    margin: 0 auto;
    padding: 4px;
  }

  .radicals-wrapper {
    @include button-list;

    border-radius: 10px;
    border: 1px solid #c9c9c9;
    background-color: #ececec;
    margin: 0 auto;
    padding: 4px;

  }

  .rad-break { /* acts as a 'newline' for wrapped elements */
    flex-basis: 100%;
    height: 0;
  }
}