:host {
  text-align: center;
}

uh-dash-radicals {
  .rad {
    @include button-look;
    @include button-size_3;
    @include flex-item;

    padding: 1px 2px;

    margin-right: 2px;
    margin-bottom: 2px;
  }

  .rad.hdr {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #b6b6b6;
    font-size: 1.2rem;
  }

  .radicals-header {
    @include flex-list;
    
    text-align: center;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgba($color: #dcdcdc, $alpha: 0.5);
    margin: 0 auto;
    padding: 4px;
  }

  .radicals-wrapper {
    @include flex-list;

    border-radius: 10px;
    border: 2px solid #000;
    background-color: rgba($color: #ececec, $alpha: 0.3);
    margin: 0 auto;
    padding: 4px;

  }

  .rad-break { /* acts as a 'newline' for wrapped elements */
    flex-basis: 100%;
    height: 0;
  }
}