:host {
  display: block;
  text-align: center;
}

.rad {
  padding: 1px 2px;
  height: 26px;
  width: 26px;
  background-color: #151515;
  color: #c8c8c8;

  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #3a3a3a;
  margin-right: 2px;
  margin-bottom: 2px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.rad-hdr {
  background-color: #c7c7c7;
  color: #000;
}

.radicals-header {
  border-radius: 10px;
  border: 1px solid #adadad;
  background-color: #d1cdcd;
  margin: 0 auto;
  padding: 4px;
}

.radicals-wrapper {
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rad-break {
  flex-basis: 100%;
  height: 0;
}