:host {
  text-align: center;
}

stroke-button {
  @include button-look;
  @include button-size_1;
  @include flex-item;

  font-size: 15px !important; // todo: yug

  padding: 1px 2px;

  margin-right: 2px;
  margin-bottom: 2px;

  background-color: $buttons-inactive-color;

  &.activated {
    background-color: $buttons-color !important;
  }
}